
<section class="about-index" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="detail-left">
      <div class="advisor" *ngIf="isshow3">
        <div class="title">
          Advisor
        </div>
        <div class="advisor-list">
        </div>
      </div>
    </div>
    <div class="nav-right">
      <ul>
        <li [class.active]="isshow1" (click)="go('./about/overview')">
          Overview
        </li>
        <li [class.active]="isshow2" (click)="go('./about/committee')">
          Committee
        </li>
        <li [class.active]="isshow3" (click)="go('./about/advisor')">
          Advisor
        </li>
        <li [class.active]="isshow4" (click)="go('./about/contact-us')">
          Contact us
        </li>
      </ul>
    </div>
  </div>
</section>

