@import "../../../assets/css/variable.styl"

.about-index
  &>div
    width 1000px
    margin 0 auto

.main
  .detail-left
    .advisor
      .detail
        border-top 0
        .personimg
          width 160px
          height 200px
          margin-right 20px
          float left
          img
            width 160px
            height 200px
        .expression
          padding 30px 0
          border-top 1px solid rgba(52,52,52,0.1)
          .name
            font-size $font-little-big-size
            color $font-light-gray-color
            margin-bottom 19px
            .englist
              font-size $font-big-size
              color $font-deep-gray-color
              margin-right 19px
          .school
            font-size $font-nomal-size
            line-height 15px
            color $font-gray-color
            margin-bottom 16px
            .school-tit
              font-size $font-little-big-size
              line-height 16px
              margin-bottom 5px
              color $font-deep-gray-color
          .exp
            p
              color $font-gray-color
              font-size $font-nomal-size
              line-height 22px
              span
                color $font-deep-gray-color
                font-weight 300
            button
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(90deg)
                margin-left 9px
          .edu
            margin-top 23px
            p
              font-size $font-nomal-size
              color $font-gray-color
              span
                color $font-deep-gray-color
                font-size $font-little-big-size

.packup
  float right
  font-size $font-nomal-size
  color rgba(28, 97, 160, 0.7)
  img
    width 10px
    height 10px
    transform rotate(-90deg) !important
    margin-left 9px
