<app-header></app-header>
<app-navbar></app-navbar>

<section class="about-index wrap-box" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="detail-left">
      <div class="advisor" *ngIf="isshow3">
        <div class="title">
          Advisor
        </div>
        <div class="detail">

          <div class="expression">
            <div class="personimg">
              <img src="../../../assets/img/advisor.png" />
            </div>
            <div class="name">
              <span class="englist">Hamilton Gregg</span>
            </div>
            <div class="school">
              <p class="school-tit">Education consultant</p>
              <p>College Advisor Harrow Beijing and Independent Educational Consultant – SangLearning, HGIEC</p>
            </div>
            <div class="exp">
              <p *ngIf="!showAll1">
                <span>Professional Experience：</span>
                I have been a college counselor in a school setting for over 23 years. In addition, I have been an independent consultant for the last 8 years. I am a member of International ACAC, NACAC, IECA. CIS. I am also a Certifie...
                <button (click)="showAll1 = true">more<img src="../../../assets/icon/bottom.svg" /></button>
              </p>
              <p *ngIf="showAll1">
                <span>Professional Experience：</span>
                I have been a college counselor in a school setting for over 23 years. In addition, I have been an independent consultant for the last 8 years. I am a member of International ACAC, NACAC, IECA. CIS. I am also a Certified Educational Planner (CEP). I
                am a past president of International ACAC and currently sit on the NACAC International Initiatives Committee.
                <button class="packup" (click)="showAll1 = false">Pack up<img src="../../../assets/icon/bottom.svg" /></button>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="nav-right">
      <ul>
        <li [class.active]="isshow1" (click)="go('./about/overview')">
          Overview
        </li>
        <li [class.active]="isshow2" (click)="go('./about/committee')">
          Committee
        </li>
        <li [class.active]="isshow3" (click)="go('./about/advisor')">
          Advisor
        </li>
        <li [class.active]="isshow4" (click)="go('./about/contact-us')">
          Contact us
        </li>
      </ul>
    </div>
  </div>
</section>

