@import "../../../assets/css/variable.styl"

nav
  width 100%
  border-top 1px solid #f1f2f0
  .nav-box
    width 1200px
    margin 0 auto
    ul
      display flex
      justify-content space-around
      li
        line-height 17px
        cursor pointer
        padding 20px 20px 22px
        position relative
        &:hover
          border-top 2px solid $theme-main-deep-blue-color
          padding-top 18px
          color $font-main-deep-blue-color
        .toggle
          position absolute
          padding-top 10px
          top 50px
          left 0
          width 240px
          ul
            display block
            border-radius 3px
            background $hteme-white-color
            li
              padding 18px 0 18px 24px
              &:hover
                border 0
                padding-top 20px
                color $font-white-color
                background $theme-main-deep-blue-color
      .active
        border-top 2px solid $theme-main-deep-blue-color
        padding-top 18px
        color $font-main-deep-blue-color
