@import "../../../assets/css/variable.styl"

nav
  width 100%
  border-top 1px solid #f1f2f0
  .nav-box
    width 1200px
    margin 0 auto
    ul
      display flex
      justify-content space-around
      li
        line-height 17px
        cursor pointer
        padding 20px 20px 22px
        &:hover
          border-top 2px solid $theme-main-deep-blue-color
          padding-top 18px
          color $font-main-deep-blue-color
