<div class="right-box">
  <div class="modify-password">
    <div class="title-box">
      <img src="../../assets/icon/information.svg">
      <span class="title">Modify password</span>
    </div>
    <div class="detail">
      <div>
        <input class="old-pw" type="password" placeholder="*********" />
        <span class="ok" style="display:none">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" >
          <img src="../../../assets/icon/point.svg" />
          <span>The password is 6-12 characters</span>
        </span>
      </div>
      <div>
        <input class="new-pw" type="password" placeholder="New password" />
        <span class="ok">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" style="display:none">
          <img src="../../../assets/icon/point.svg" />
          <span>The password is 6-12 characters</span>
        </span>
      </div>
      <div>
        <input class="verify password" type="password" placeholder="Verify password" />
        <span class="ok">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" style="display:none">
          <img src="../../../assets/icon/point.svg" />
          <span>The password is 6-12 characters</span>
        </span>
      </div>
    </div>
    <button>
      ok
    </button>
  </div>
</div>
