
<div class="right-box">
  <div class="modify-password">
    <div class="title-box">
      <img src="../../assets/icon/password.svg" />
      <span class="title">Modify Password</span>
    </div>
    <div class="detail form" [formGroup]="modifyPwdForm">
      <div class="form-field">
        <input class="old-pw" type="password" placeholder="Old password" formControlName="pwd0" (blur)="testPw0(this.modifyPwdForm.value.pwd0)" maxlength="15" minlength="6"/>
        <span class="ok" *ngIf="!msg0 && this.modifyPwdForm.value.pwd0">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" *ngIf="msg0">
          <img src="../../../assets/icon/wrong.svg" />
          <span>{{msg0}}</span>
        </span>
      </div>
      <div class="form-field">
        <input class="new-pw" type="password" placeholder="New password" formControlName="pwd1" (blur)="testPw1(this.modifyPwdForm.value.pwd1)" maxlength="15" minlength="6"/>
        <span class="ok" *ngIf="!msg1 && this.modifyPwdForm.value.pwd1">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" *ngIf="msg1">
          <img src="../../../assets/icon/wrong.svg" />
          <span>{{msg1}}</span>
        </span>
      </div>
      <div class="form-field">
        <input class="verify password" type="password" placeholder="Verify password" formControlName="pwd2" (blur)="testPw2(this.modifyPwdForm.value.pwd2)" maxlength="15" minlength="6"/>
        <span class="ok" *ngIf="!msg2 && this.modifyPwdForm.value.pwd2">
          <img src="../../../assets/icon/true.svg" />
        </span>
        <span class="no" *ngIf="msg2">
          <img src="../../../assets/icon/wrong.svg" />
          <span>{{msg2}}</span>
        </span>
      </div>
      <button class="form-bth submit-btn" [disabled]="!modifyPwdForm.value.pwd0 || !modifyPwdForm.value.pwd1 || !modifyPwdForm.value.pwd2" type="button" (click)="onSubmit()">
        ok
      </button>
    </div>
  </div>
</div>

<app-pop *ngIf="showSuccess"></app-pop>


