@import "../../../assets/css/variable.styl"

.contact-method
  border-top $default-light-border
  padding-top 28px
  font-size $font-nomal-size
  color $font-deep-gray-color
  &>div
    margin 2px 0
    line-height 22px
    span
      display inline-block
      font-weight 300
      width 60px
