<app-header></app-header>
<app-navbar></app-navbar>

<section class="about-index wrap-box" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="detail-left">
      <div class="contact-us">
        <div class="title">
          Contact us
        </div>
        <div class="contact-method">
          <div class="add">Add：   中国•杭州求是路8号公元大厦西北裙楼</div>
          <div class="tel">Tel：      400-860-0550</div>
          <div class="fax">Fax：     0571-87359367</div>
          <div class="email">E-mail： customer@jumore.com</div>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <ul>
        <li [class.active]="isshow1" (click)="go('./about/overview')">
          Overview
        </li>
        <li [class.active]="isshow2" (click)="go('./about/committee')">
          Committee
        </li>
        <li [class.active]="isshow3" (click)="go('./about/advisor')">
          Advisor
        </li>
        <li [class.active]="isshow4" (click)="go('./about/contact-us')">
          Contact us
        </li>
      </ul>
    </div>
  </div>
</section>

