@import "../../../assets/css/variable.styl"

.title
  text-align center
.brief
  width 430px
  display flex
  margin 0 auto
  word-wrap break-word
  .address
    margin-right 190px
  img
    width 14px
    margin-right 10px
    vertical-align top
  div
    margin-bottom 19px
    color $font-light-gray-color
    line-height 1
  .small-title
    font-size $font-little-big-size
    color $font-deep-gray-color
    margin-bottom 28px
  .author
    span
      display inline-block
      width 380px
      line-height 1.57
.detail
  .top
    float left
