
<div class="right-box">
  <div class="login-information">
    <div class="title-box">
      <img src="../../assets/icon/information.svg">
      <span class="title">Information</span>
    </div>
    <div class="detail">
      <span>Email</span>
      <span>{{userName}}</span>
      <span>Bound</span>
    </div>
  </div>
  <div class="personal-infomation">
    <div class="title-box">
      <img src="../../assets/icon/personal-information.svg">
      <span class="title">Information</span>
    </div>
    <div class="detail">
      <div>
        <span>Name</span>
        <span> {{userInfo.prefix}} {{userInfo.userFn}} {{userInfo.userLn}}</span>
      </div>
      <div>
        <span>Preferred Name</span>
       <span>{{userInfo.userPn}}</span>
      </div>
      <div>
        <span>School</span>
      <span>{{userInfo.userSchool}}</span>
      </div>
      <div>
        <span>Job Title</span>
      <span>{{userInfo.userJob}}</span>
      </div>
    </div>
  </div>
</div>
