
<div class="right-box">
  <div class="login-information">
    <div class="title-box">
      <img src="../../assets/icon/information.svg">
      <span class="title">Login information</span>
    </div>
    <div class="detail">
      <span>Email</span>
      <span>{{user.userName}}</span>
      <span>Bound</span>
    </div>
  </div>
  <div class="personal-infomation">
    <div class="title-box">
      <img src="../../assets/icon/personal-information.svg">
      <span class="title">Personal information</span>
    </div>
    <div class="detail">
      <div>
        <span>Name</span>
        <span> {{user.userInfo.prefix}}. {{user.userInfo.userFn}} {{user.userInfo.userLn}}</span>
      </div>
      <div>
        <span>Preferred Name</span>
        <span>{{user.userInfo.Pn}}</span>
      </div>
      <div>
        <span>School</span>
        <span>{{user.userInfo.userSchool}}</span>
      </div>
      <div>
        <span>Job Title</span>
        <span>{{user.userInfo.userJob}}</span>
      </div>
    </div>
  </div>
</div>
