
<div class="right-box">
  <div class="login-information">
    <div class="title-box">
      <img src="../../assets/icon/information.svg">
      <span class="title">Login information</span>
    </div>
    <div class="detail">
      <span>Email</span>
      <span>lirf@eamaster.com</span>
      <span>Bound</span>
    </div>
  </div>
  <div class="personal-infomation">
    <div class="title-box">
      <img src="../../assets/icon/personal-information.svg">
      <span class="title">Personal information</span>
    </div>
    <div class="detail">
      <div>
        <span>Name</span>
        <span> Mr. Li Ruifeng</span>
      </div>
      <div>
        <span>Preferred Name</span>
        <span>LiRuifeng</span>
      </div>
      <div>
        <span>School</span>
        <span>Zhejiang University</span>
      </div>
      <div>
        <span>Job Title</span>
        <span>Hangzhou pan friend network technology Co., Ltd.</span>
      </div>
    </div>
  </div>
</div>
