@import "../../../assets/css/variable.styl"

.news-index
  width 100%
  background $theme-main-gray-color
  padding-bottom 70px
  &>div
    margin 0 auto
    width 1000px
  .main
    background $hteme-white-color
    width 1000px
    margin 0 auto
    padding 30px 40px
    .title
      font-size $font-bigger-size
      color $font-deep-gray-color
      font-weight bold
    .detail
      margin-top 29px
      border-top $default-main-top-border
      .news-list
        .news-info
          padding-top 37px
          border-bottom $default-main-top-border
          padding-bottom 40px
          .small-title
            line-height 26px
            font-size $font-big-size
            color $font-main-deep-blue-color
            font-weight bold
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            overflow hidden
            text-overflow ellipsis
          .news-intro
            font-size $font-nomal-size
            line-height 22px
            margin 20px 0 25px
            color $font-gray-color
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 3
            overflow hidden
            text-overflow ellipsis
          .date
            img
              width 16px
              margin-right 10px
            .time
              font-size $font-small-size
              color $font-light-gray-color
              line-height 16px
            .view-details
              cursor pointer
              float right
              font-size $font-nomal-size
              color $font-main-deep-blue-color
      .noNews
        padding-top 101px
        padding-bottom 17px
        text-align center
        img
          width 228px
          height 170px
        p
          font-size 22px
          line-height 1
          margin-top 19px
          margin-bottom 61px
          color $font-light-gray-color
        a
          font-size $font-little-big-size
          color $font-main-deep-blue-color
          img
            width 6px
            height 12px
            margin-right 9px
