<app-header></app-header>
<app-navbar></app-navbar>

<section class="news-index wrap-box">
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>News & Publication</span>/<span>Newsroom </span>
        <span *ngFor="let list of path"> > {{list}}</span>
      </div>
    </section>
  <div class="main">
    <div class="title">
      Newsroom
    </div>
    <div class="detail">
      <div class="news-list" *ngIf="hasNews">
        <div class="news-info" *ngFor="let list of showLists">
          <div class="small-title">
            {{list.ncTitle}}
          </div>
          <div class="news-intro">
            {{list.ncContent}}
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">{{list.ncTime}}</span>
            <span class="view-details" (click)="go('./news/news-detail/' + list.ncId)">View details >></span>
          </div>
        </div>

        <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>
      </div>

      <div class="news-list noNews" *ngIf="!hasNews">
        <img src="../../../assets/icon/nonews.svg" />
        <p>No News</p>
        <a routerLink="/home">
          <img src="../../../assets/icon/left.svg" alt="left" />
          Return to homepage
        </a>
      </div>

    </div>
  </div>
  </div>
</section>

<app-to-top></app-to-top>
