<app-header></app-header>
<app-navbar [currentTitle]="2"></app-navbar>

<section class="about-index wrap-box" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="detail-left">
      <div class="overview">
        <div class="title">
          Overview
        </div>
        <div class="expression detail">
          <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
          <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officersChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
          <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <ul>
        <li [class.active]="isshow1" (click)="go('./about/overview')">
          Overview
        </li>
        <li [class.active]="isshow2" (click)="go('./about/committee')">
          Committee
        </li>
        <li [class.active]="isshow3" (click)="go('./about/advisor')">
          Advisor
        </li>
        <li [class.active]="isshow4" (click)="go('./about/contact-us')">
          Contact us
        </li>
      </ul>
    </div>
  </div>
</section>

