@import "../../../assets/css/variable.styl"

.about-index
  width 100%
  padding-bottom 70px
  background  $theme-main-gray-color
  &>div
    width 1000px
    margin 0 auto
  .main
    position relative
    width 1000px
    margin 0 auto
    display flex
    justify-content space-between
  .detail-left
    width 730px;
    overflow hidden
    margin-right 20px
    background #fff
    padding 0 40px 60px
    .overview
      .detail
        padding-top 30px
        .small-title
          font-size $font-little-big-size
          font-weight bold
          color $font-deep-gray-color
          margin-bottom 28px
        p
          margin-bottom 28px
        .last-p
          margin-bottom 0
    .detail
      padding 0 0 30px 0
      color $font-gray-color
      border-top 1px solid rgba(52,52,52,0.1)
      p
        line-height 22px
    .committee
      .detail
        border-top 0
        .personimg
          width 160px
          height 200px
          margin-right 20px
          img
            width 160px
            height 200px
        .expression
          display flex
          padding 30px 0
          border-top 1px solid rgba(52,52,52,0.1)
          .expression-box
            width 100%
          .name
            font-size $font-little-big-size
            color $font-light-gray-color
            margin-bottom 18px
            line-height 18px
            .englist
              font-size $font-big-size
              color $font-deep-gray-color
              margin-right 19px
          .school
            font-size $font-nomal-size
            line-height 15px
            color $font-gray-color
            margin-bottom 16px
            .school-tit
              font-size $font-little-big-size
              line-height 16px
              color $font-deep-gray-color
            p
              margin-bottom 8px
              line-height 14px
          .exp
            .exp-tit
              display block
              color $font-deep-gray-color
              margin-bottom 5px
            p
              color $font-gray-color
              font-size $font-nomal-size
              line-height 22px
              span
                color $font-deep-gray-color
                font-weight 300
            button
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(90deg)
                margin-left 9px
                vertical-align middle
            .packup
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(-90deg) !important
                margin-left 9px
          .edu
            margin-top 23px
            .edu-tit
              display block
              color $font-deep-gray-color
              margin-bottom 5px
            .packup
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(-90deg) !important
                margin-left 9px
            p
              font-size $font-nomal-size
              color $font-gray-color
              span
                color $font-deep-gray-color
                font-size $font-little-big-size
    .advisor
      .detail
        border-top 0
        .personimg
          width 160px
          height 200px
          margin-right 20px
          img
            width 160px
            height 200px
        .expression
          display flex
          padding 30px 0
          border-top 1px solid rgba(52,52,52,0.1)
          .name
            font-size $font-little-big-size
            color $font-light-gray-color
            margin-bottom 19px
            .englist
              font-size $font-big-size
              color $font-deep-gray-color
              margin-right 19px
          .school
            font-size $font-nomal-size
            line-height 15px
            color $font-gray-color
            margin-bottom 16px
            p
              margin-bottom 8px
              line-height 14px
            .school-tit
              font-size $font-little-big-size
              line-height 16px
              color $font-deep-gray-color
          .exp
            .exp-tit
              display block
              color $font-deep-gray-color
              margin-bottom 5px
            p
              color $font-gray-color
              font-size $font-nomal-size
              line-height 22px
              span
                color $font-deep-gray-color
                font-weight 300
            button
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(90deg)
                margin-left 9px
                vertical-align middle
            .packup
              float right
              font-size $font-nomal-size
              color rgba(28, 97, 160, 0.7)
              img
                width 10px
                height 10px
                transform rotate(-90deg) !important
                margin-left 9px
          .edu
            margin-top 23px
            p
              font-size $font-nomal-size
              color $font-gray-color
              span
                color $font-deep-gray-color
                font-size $font-little-big-size
    .contact-us
      .contact-method
        border-top 1px solid rgba(52,52,52,0.1)
        padding-top 30px
        color $font-deep-gray-color
      a
        color $font-main-deep-blue-color
  .nav-right
    width 250px
    height 280px
    background #fff
    padding 20px 0
    position absolute
    right 0
    ul
      li
        padding 22px 0 24px 23px
        cursor pointer
        line-height 14px
      .active
        cursor pointer
        background $theme-main-deep-blue-color
        color $font-white-color

.title
  font-size $font-bigger-size
  font-weight bold
  padding 12px 0 30px
.overview
  .title
    padding 30px 0

