<app-header></app-header>
<app-navbar></app-navbar>

<section class="news-index wrap-box">
  <div>
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="title">
      Publication
    </div>
    <div class="detail">
      <div class="news-list" *ngIf="hasConference">

        <div class="news-info" *ngFor="let list of showLists">
          <div class="small-title">
            {{list.ncTitle}}
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">{{list.ncTime}}</span>
          </div>
        </div>
        <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>
      </div>

      <div class="news-list noNews" *ngIf="!hasConference">
        <img src="../../../assets/icon/nonews.svg" />
        <p>No National Conference</p>
        <a routerLink="/home">
          <img src="../../../assets/icon/left.svg" alt="left" />
          Return home page
        </a>
      </div>

    </div>
  </div>
  </div>
</section>

<app-to-top></app-to-top>
