<app-header></app-header>
<app-navbar></app-navbar>

<section class="news-index wrap-box">
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>News & Publications</span>/<span>Publications </span>
        <span *ngFor="let list of path"> > {{list}}</span>
      </div>
    </section>
  <div class="main">
    <div class="title">
      Publications
    </div>
    <div class="detail">
      <div class="news-list" *ngIf="hasNews">

        <div class="news-info" *ngFor="let list of showLists">
          <a class="small-title" target="_blank" href="{{list.ncUrl}}" >
            {{list.ncTitle}}
          </a>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">{{list.ncTime}}</span>
          </div>
        </div>
        <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>
      </div>

      <div class="news-list noNews" *ngIf="!hasNews">
        <img src="../../../assets/icon/nonews.svg" />
        <p>No Publications</p>
        <a routerLink="/home">
          <img src="../../../assets/icon/left.svg" alt="left" />
          Return to homepage
        </a>
      </div>

    </div>
  </div>
  </div>
</section>

<app-footer></app-footer>

<app-to-top></app-to-top>
