@import "../../../assets/css/variable.styl"
.breadcrumb
  width 100%
  .breadcrumb-box
    color $font-light-gray-color
    font-size $font-nomal-size
    height 50px
    span
      line-height 50px
      margin 0 10px
      color $theme-main-deep-blue-color
      &:first-child
        margin-left 0
      &:last-child
        color $font-light-gray-color
    img
      height 12px
      padding-right 8px

