<section class="modal-sec" >
  <div class="container">

    <div class="modal-container">
    <span><button (click)="back()">
      <img src="../../../assets/icon/close.svg"/></button></span>
      <div class="title">
        ChinaICAC Member Sign in
      </div>
      <div class="main">
        <div class="wrongMsg" *ngIf="msg">{{msg}}</div>
        <div class="form" [formGroup]="loginForm">
          <div class="form-field">
            <input placeholder="Email" type="email" formControlName="email" >
          </div>
          <div class="form-field password">
            <input placeholder="Password" [type]="!isOpenEyesShow ? 'test' : 'password'" formControlName="pwd" maxlength="15" minlength="6">
            <div class="btn-group">
              <!--<button class="close-btn" (click)="clear('pwd')" *ngIf="loginForm.value.pwd">
                <img class="icon-close" src="../../../assets/icon/close.svg" />
              </button>-->
              <button class="eye-btn"  *ngIf="!isOpenEyesShow" (click)="isOpenEyesShow = true">
                <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
              </button>
              <button class="eye-btn" *ngIf="isOpenEyesShow" (click)="isOpenEyesShow = false">
                <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
              </button>
            </div>
          </div>
          <div class="button-group">
            <button (click)="go('./home')">No account fast</button>
            <button (click)="go('./register');modal.isSigninShow = false">registration</button>
            <button (click)="go('./person/verify-email');modal.isSigninShow = false">Forgot password?</button>
          </div>
          <button class="form-bth submit-btn" [disabled]="!loginForm.value.email || !loginForm.value.pwd" type="button" (click)="onSubmit()">
            Sign in
          </button>
        </div>
        <p class="tel">Customer service telephone numbers 400-123-1234</p>
      </div>
    </div>

  </div>


</section>
