<section class="modal-sec" *ngIf="modal.isSigninShow || modal.isVerifyMailboxShow || modal.isResetPwShow ||modal.isRegisterShow">
  <div class="container">

    <!--登录-->
    <div class="modal-container" *ngIf="modal.isSigninShow">
    <span><button (click)="confirm()">
      <img src="../../../assets/icon/close.svg"></button></span>
      <div class="title">
        {{modal.title}}
      </div>
      <div class="main">
        <div class="wrongMsg" *ngIf="msg">{{msg}}</div>
        <div class="form" [formGroup]="loginForm">
          <div class="form-field email-field">
            <input placeholder="Email" type="email" formControlName="email" >
          </div>
          <div class="form-field password">
            <input placeholder="Password" [type]="!isOpenEyesShow ? 'test' : 'password'" formControlName="pwd" maxlength="15" minlength="6" (keydown)="btnSubmit(event)">
            <div class="btn-group" [class.issafari]="isSafari">
              <!--<button class="close-btn" (click)="clear('pwd')" *ngIf="loginForm.value.pwd">
                <img class="icon-close" src="../../../assets/icon/close.svg" />
              </button>-->
              <button class="eye-btn"  *ngIf="!isOpenEyesShow" (click)="isOpenEyesShow = true">
                <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
              </button>
              <button class="eye-btn" *ngIf="isOpenEyesShow" (click)="isOpenEyesShow = false">
                <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
              </button>
            </div>
          </div>
          <div class="button-group">
            <button (click)="go('./register');modal.isSigninShow = false">Join now</button>
            <button (click)="go('./person/verify-email');modal.isSigninShow = false">Forgot password?</button>
          </div>
          <button class="form-bth submit-btn" [disabled]="!loginForm.value.email || !loginForm.value.pwd" type="submit" (click)="onSubmit()">
            Sign in
          </button>
        </div>
      </div>
    </div>

    <!--报名会议-->
    <div class="modal-container register-container" *ngIf="modal.isRegisterShow">
    <span>
      <button (click)="confirm()">
      <img src="../../../assets/icon/close.svg">
      </button>
    </span>
      <div class="title">
        {{modal.title}}
      </div>
      <div class="main">
        <div class="form">
          <div class="form-field">
            <label>FirstName:</label>
            <span class="school">{{modal.fName}}</span>
          </div>
          <div class="form-field">
            <label>LastName:</label>
            <span class="school">{{modal.lName}}</span>
          </div>
          <div class="form-field">
            <label>Email:</label>
            <span class="school">{{modal.email}}</span>
          </div>
          <div class="form-field">
            <label>School:</label>
            <span class="school">{{modal.school}}</span>
          </div>
          <div class="form-field input-num">
            <label>Contact Number:</label>
            <input class="contact-num" placeholder="Please input your mobile number" #registerNum type="number" (keyup)="getPhoneNum(registerNum.value)"/>
          </div>
          <button class="form-bth submit-btn" [disabled]="!phoneNum" (click)="onRegister()">
            Submit
          </button>
        </div>
      </div>
    </div>

  </div>


</section>

<div class="successRegister" *ngIf="successRegister">
  <svg id="图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175 175"><title>正确</title><style>.t {fill:#fff}</style><path class='t' d="M100,187.5A87.5,87.5,0,1,1,187.5,100,87.6,87.6,0,0,1,100,187.5Zm0-162.44A74.94,74.94,0,1,0,174.94,100,75,75,0,0,0,100,25.06Zm42,51.74a6.24,6.24,0,0,0-8.84.05L87.59,122.91,67.42,102.18a6.25,6.25,0,0,0-9,8.71l24.61,25.29.05,0,0,0a6.11,6.11,0,0,0,1.34.89,7.62,7.62,0,0,0,.69.45,6.2,6.2,0,0,0,2.36.47,6.3,6.3,0,0,0,2.34-.46,7.44,7.44,0,0,0,.66-.43,6,6,0,0,0,1.36-.89s0,0,0,0l.05,0,50-50.59A6.26,6.26,0,0,0,142,76.79Z" transform="translate(-12.5 -12.5)"/></svg>
  <div>
    An confirmation letter will be sent to you once your registration is approved
  </div>
</div>
