@import "../../../assets/css/variable.styl"

.container
  width 460px
  position fixed
  left 50%
  top 50%
  margin-left -230px
  margin-top -210px
  z-index 1
  background white
  .modal-container
    z-index 3
    width 100%
    padding 0 0 20px
    span
      position absolute
      top 12px
      right 12px
      img
        width 20px
        height 20px
    .title
      padding 0 40px
      height 68px
      font-size $font-big-size
      color #fff
      padding-top 30px
      border-bottom $default-light-border
      background $theme-main-deep-blue-color
      text-align center

    .main
      padding 30px 40px 0
      .wrongMsg
        padding-bottom 19px
        font-size $font-nomal-size
        color $font-red-color
      .form
        .form-field
          position relative
        .email-field
          margin-bottom 40px
        .login-modal
          margin-bottom 40px
        .password
          position relative
          .btn-group
            position absolute
            top 10px
            right 12px
            width 13px
            button
              width 13px
          .issafari
            right 25px
        .button-group
          margin-top 22px
          display flex
          button
            font-size $font-nomal-size
            color $font-deep-gray-color
            width 50%
            &:hover
              color $font-main-deep-blue-color
            &:nth-child(1)
              text-align left
            &:nth-child(2)
              text-align right
        &>button
          font-size $font-little-big-size
          background $theme-main-deep-blue-color
          color $font-white-color
          padding 13px 23px
          margin-top 40px
          width 100%
        .submit-btn
          &[disabled]
            color #666
            background #ddd
      input
        border $default-input-border
        width 380px
        height 36px
        padding-left 16px
        color $font-light-gray-color
        font-size $font-small-size

    .tel
        font-size $font-small-size
        color $font-light-gray-color
        line-height 1
        margin-top 33px


.register-container
  .main
    .form-field
      margin-bottom 20px
      label
        font-size $font-little-big-size
        color $font-deep-gray-color
        text-align left
      span
        position relative
        font-size $font-nomal-size
        color $font-light-gray-color
        top 0
        right 0
        left 12px
      .contact-num
        width 224px
    .input-num
      display flex
      justify-content space-between
      margin-bottom 15px
      label
        line-height 36px
      input
        padding-left 6px

.successRegister
  position fixed
  top 50%
  left 50%
  width 312px
  height 240px
  margin-top -120px
  margin-left -156px
  border-radius 10px
  background rgba(49,54,58,0.8)
  text-align center
  padding 30px 31px
  svg
    fill #fff
    width 77px
    height 77px
    margin-bottom 30px
  div
    font-size $font-little-big-size
    color #fff
    text-align left
    word-break normal
    line-height 1.5

.obtain
  position: absolute
  top 0
  right 0
  line-height 12px
  padding 12px 16px
  font-size $font-nomal-size
  color $font-white-color
  background $theme-main-deep-blue-color

.modal-sec
  position fixed
  width 100%
  height 100%
  z-index 2
  top 0
  left 0
  background rgba(0,0,0,0.6)


