@import "../../../assets/css/variable.styl"

section
  width 460px
  height 420px
  position fixed
  left 50%
  top 50%
  margin-left -230px
  z-index 99
  background white
  .box
    width 100%
    padding 29px 0 20px
    .title
      padding 0 40px
      height 38px
      font-size $font-big-size
      color $font-deep-gray-color
      border-bottom $default-light-border
      span
       float right
    .main
      padding 30px 40px 0
