@import "../../../assets/css/variable.styl"

.container
  width 460px
  position fixed
  left 50%
  top 50%
  margin-left -230px
  margin-top -210px
  z-index 1
  background white
  .modal-container
    z-index 3
    width 100%
    padding 29px 0 20px
    span
      position absolute
      top 12px
      right 12px
      img
        width 20px
        height 20px
    .title
      padding 0 40px
      height 38px
      font-size $font-big-size
      color $font-deep-gray-color
      border-bottom $default-light-border


    .main
      padding 30px 40px 0
      .wrongMsg
        padding-bottom 19px
        font-size $font-nomal-size
        color $font-red-color
      .form
        .form-field
          position relative
        .form-field:nth-child(1)
          margin-bottom 40px
        .password
          position relative
          .btn-group
            position absolute
            top 10px
            right 12px
            width 13px
            button
              width 13px
        .button-group
          margin-top 10px
          button
            font-size $font-nomal-size
            color $font-deep-gray-color
            &:hover
              color $font-main-deep-blue-color
            &:nth-child(1)
              margin-right 20px
            &:nth-child(2)
              margin-right 38px
        &>button
          font-size $font-little-big-size
          background $theme-main-deep-blue-color
          color $font-white-color
          padding 13px 23px
          margin-top 40px
      input
        border $default-input-border
        width 380px
        height 36px
        padding 12px 0 12px 16px
        color $font-light-gray-color
        font-size $font-small-size

    .tel
        font-size $font-small-size
        color $font-light-gray-color
        line-height 1
        margin-top 33px

.obtain
  position: absolute
  top 0
  right 0
  line-height 12px
  padding 12px 16px
  font-size $font-nomal-size
  color $font-white-color
  background $theme-main-deep-blue-color

.modal-sec
  position fixed
  width 100%
  height 100%
  z-index 2
  top 0
  left 0
  background rgba(0,0,0,0.6)
