
/*******************************************************************/

html, body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Microsoft YaHei","Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  overflow: scroll;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
  font-size: 14px;
  min-width: 1200px;
  line-height: 1.4285em;
  color: #343434;
}

*, :after, :before {
  box-sizing: inherit;
}

ol, ul, li {
  list-style: none;
}

em, i, b, h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

a, a:visited, a:active {
  text-decoration: none;
  outline: none;
  color: #404040;
}

img {
  vertical-align: middle;
  border: none;
}

input {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #dbdbdb;
  font-size: 14px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #dbdbdb;
  opacity: 1;
  font-size: 14px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #dbdbdb;
  opacity: 1;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background: transparent;
}

/**************************************************************************************/

.wrap-box {
  /*min-height:100%;*/
  padding-top: 180px;
  padding-bottom: 280px !important;
}


