$theme-main-deep-blue-color = #1c61a0
$theme-main-light-blue-color = #3164e5
$theme-main-gray-color = #fafafa
$hteme-white-color = #ffffff
$theme-light-gray-color = #9e9e9e

$font-main-deep-blue-color = #1c61a0
$font-white-color = #ffffff
$font-light-white-color = rgba(255, 255, 255, 0.6)
$font-gray-color = #6e6e6e
$font-deep-gray-color = #343434
$font-light-gray-color = #9e9e9e
$font-red-color = #ff3838

$font-biggest-size = 26px
$font-bigger-size = 20px
$font-big-size = 18px
$font-little-big-size = 16px
$font-nomal-size = 14px
$font-small-size = 12px

$default-border = 1px solid rgba(189,189,189,0.3)
$default-main-top-border = 2px solid rgba(189,189,189,0.2)
$default-light-border = solid 1px rgba(52, 52, 52, 0.1)
$default-input-border = solid 1px rgba(52, 52, 52, 0.2)

