<section class="register-sec">
  <div class="register-box">
    <div class="title">
      ChinaICAC Member registration
    </div>
    <div class="main">
      <div>
        <span class="name">
          You work for
        </span>
        <span>
          <select>
            <option selected>
              Secondary／High School
            </option>
            <option>
              Colllege or University
            </option>
          </select>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Email
        </span>
        <span>
          <input placeholder="Please enter">
          <div class="wrong">
            <img class="wromg-img" src="../../../assets/icon/point.svg" />
            <span>错误提示</span>
          </div>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Verification Code
        </span>
        <span>
          <input placeholder="Please enter">
          <button class="obtain">Obtain</button>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Password
        </span>
        <span>
          <input placeholder="Please enter">
          <div class="btn-group">
            <button class="close-btn">
              <img class="icon-close" src="../../../assets/icon/close.svg" />
            </button>
            <button class="eye-btn" >
              <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
            </button>
            <button class="eye-btn">
              <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
            </button>
          </div>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Repeat password
        </span>
        <span>
          <input placeholder="Please enter">
          <div class="btn-group">
            <button class="close-btn">
              <img class="icon-close" src="../../../assets/icon/close.svg" />
            </button>
            <button class="eye-btn" >
              <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
            </button>
            <button class="eye-btn">
              <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
            </button>
          </div>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Prefix
        </span>
        <span>
          <select>
            <option selected>
              Please select
            </option>
          </select>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>First Name
        </span>
        <span>
          <input placeholder="Please enter">
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Last Name
        </span>
        <span>
          <input placeholder="Please enter">
        </span>
      </div>
      <div>
        <span class="name">
          Preferred Name
        </span>
        <span>
          <input placeholder="Please enter">
          <div class="optional">(Optional)</div>
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>School
        </span>
        <span>
          <input placeholder="Please enter">
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>Job Title
        </span>
        <span>
          <input placeholder="Please enter">
        </span>
      </div>
      <div>
        <span class="name">
          <span>*</span>CEEB Code
        </span>
        <span>
          <input placeholder="Please enter">
          <img class="point" src="../../../assets/icon/point.svg" />
        </span>
      </div>
      <div class="no-ceeb">
        没有CEEB Code？
      </div>
      <div class="agreement">
        《 user service agreement》
      </div>
      <div class="submit">
        <button>
          Submit
        </button>
      </div>
      <div class="tel">
        Customer service telephone numbers 400-123-1234
      </div>
    </div>
  </div>
</section>
