@import "../../../assets/css/variable.styl"

.register-sec
  width 100%
  background $theme-main-gray-color
  padding 240px 0 48px
  .register-box
    width 444px
    margin 0 auto
    text-align center
    .title
      text-align center
      padding-bottom 30px
      font-size $font-big-size
    .main
      &>div
        margin-bottom 30px
        display flex
        label
          width 144px
          text-align right
          margin-right 20px
          font-size $font-nomal-size
          line-height 36px
          span
            color red
            margin-right 12px
        span
          &:nth-child(2)
            width 280px
            text-align left
            position relative
            .wrong
              position absolute
              left 290px
              width 100%
              top 0
              height 36px
              img
                width 14px
              span
                line-height 36px
                display inline
                margin-left 5px
                color $font-red-color
            input
            select
              width 280px
              height 36px
              border-radius 0
              background #fff
              font-size $font-nomal-size
              line-height 14px
              outline none
              padding 12px 0 12px 11px
              border-style none
              border $default-light-border
            select
              color  $font-deep-gray-color

.obtain
  position absolute
  right 0
  height 36px
  width 98px
  bottom 0
  background $theme-main-deep-blue-color
  color  $font-white-color
  font-size $font-nomal-size
  &[disabled]
    background #9e9e9e
    color $font-gray-color
.optional
  position absolute
  left 290px
  top 0
  height 36px
  line-height 36px
  color $font-light-gray-color
.point
  display block
  width 18px
  height 18px
  left 290px
  top 9px
  color $font-light-gray-color
  position absolute
  cursor pointer
.no-ceeb
.agreement
.submit
.tel
  margin-left 164px
.no-ceeb
.agreement
  cursor pointer
  color  $font-main-deep-blue-color
  input
    margin-top 12px
  .agreement-title
    width 200px !important
    cursor auto
.no-ceeb
.submit
  margin-bottom 20px !important
.submit
  background-color $theme-light-gray-color
  width 100px
  height 40px
  button
    padding 13px 23px
    font-size $font-little-big-size
    color #fff
    background $theme-main-deep-blue-color
    &[disabled]
      background transparent
      color $font-gray-color
.tel
  width 310px
  font-size $font-small-size
  color $font-light-gray-color

.btn-group
  position absolute
  top 10px
  right 12px
  width 13px
  button
    width 13px
    background transparent

.prompt-box
  position fixed
  width 100%
  height 100%
  z-index 2
  top 0
  left 0
  background rgba(0,0,0,0.6)
  .prompt
    width 560px
    height 300px
    position fixed
    left 50%
    top 50%
    margin-left -230px
    margin-top -210px
    z-index 1
    background white
    .title
      background $theme-main-deep-blue-color
      font-size $font-bigger-size
      color #fff
      padding 30px 0 20px
      text-align center
    .detail
      font-size $font-nomal-size
      width 100%
      border-top $default-light-border
      padding-top 29px
      text-align center
      p
        width 469px
        margin 0 auto
        margin-bottom 75px
      button
        color #fff
        background $theme-main-deep-blue-color
        font-size $font-little-big-size
        padding 12px 26px








