@import "../../../assets/css/variable.styl"

.register-sec
  width 100%
  background $theme-main-gray-color
  padding 59px 0 78px
  .register-box
    width 560px
    margin 0 auto
    text-align center
    .title
      text-align right
      padding-bottom 30px
      font-size $font-big-size
    .main
      &>div
        margin-bottom 30px
        display flex
        span
          width 50%
          &:nth-child(1)
            text-align right
            padding-right 20px
            font-size $font-nomal-size
            line-height 36px
          &:nth-child(2)
            text-align left
            input
              width 280px
              height 36px




