<app-header></app-header>
<app-navbar></app-navbar>

<section class="register-sec">
  <div class="register-box">
    <div class="title">
      ChinaICAC Member registration
    </div>
    <div class="main form" [formGroup]="registerForm">
      <div class="form-field">
        <label class="name form-label">
          You work for
        </label>
        <span>
          <select formControlName="work">
            <option selected>
              Secondary／High School
            </option>
            <option>
              Colllege or University
            </option>
          </select>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Email
        </label>
        <span>
          <input placeholder="Please enter" formControlName="email" type="email">
          <div class="wrong" *ngIf="msg">
            <img class="wromg-img" src="../../../assets/icon/wrong.svg" />
            <span>{{msg}}</span>
          </div>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Verification Code
        </label>
        <span>
          <input placeholder="Please enter" formControlName="code" type="text">
          <button class="obtain" [disabled]="!registerForm.value.email" (click)="getCode()"><span *ngIf="!isCounting">Obtain</span><span *ngIf="isCounting">{{count}}</span></button>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Password
        </label>
        <span>
          <input placeholder="Please enter" formControlName="pwd1" [type]="!isOpenEyesShow1 ? 'text' : 'password'">
          <div class="btn-group">
            <button class="eye-btn" *ngIf="!isOpenEyesShow1" (click)="isOpenEyesShow1 = true">
              <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
            </button>
            <button class="eye-btn" *ngIf="isOpenEyesShow1" (click)="isOpenEyesShow1 = false">
              <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
            </button>
          </div>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Repeat password
        </label>
        <span>
          <input placeholder="Please enter" formControlName="pwd2" [type]="!isOpenEyesShow2 ? 'text' : 'password'">
          <div class="btn-group">
            <button class="eye-btn" *ngIf="!isOpenEyesShow2" (click)="isOpenEyesShow2 = true" >
              <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
            </button>
            <button class="eye-btn"*ngIf="isOpenEyesShow2" (click)="isOpenEyesShow2 = false" >
              <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
            </button>
          </div>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Prefix
        </label>
        <span>
          <select formControlName="prefix">
            <option selected>
              Please select
            </option>
            <option>
              Dr.
            </option>
            <option>
              Mr.
            </option>
            <option>
              Mrs.
            </option>
            <option>
              Ms.
            </option>
            <option>
              Rev.
            </option>
          </select>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>First Name
        </label>
        <span>
          <input placeholder="Please enter" formControlName="firstname">
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Last Name
        </label>
        <span>
          <input placeholder="Please enter" formControlName="lastname">
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          Preferred Name
        </label>
        <span>
          <input placeholder="Please enter" formControlName="preferredname">
          <div class="optional">(Optional)</div>
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>School
        </label>
        <span>
          <input placeholder="Please enter" formControlName="school">
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>Job Title
        </label>
        <span>
          <input placeholder="Please enter" formControlName="jobtitle">
        </span>
      </div>
      <div class="form-field">
        <label class="name">
          <span>*</span>CEEB Code
        </label>
        <span>
          <input placeholder="Please enter" formControlName="ceebcode" type="number" maxlength="6">
          <img class="point" src="../../../assets/icon/point.svg" />
        </span>
      </div>

      <div class="no-ceeb">
        没有CEEB Code？
      </div>
      <div class="agreement">
        <input type="checkbox" id="agreement">
        <label class="agreement-title" for="agreement">
          《 user service agreement》
        </label>
      </div>
      <div class="submit">
        <button type="button" [disabled]="!registerForm.value.work || !registerForm.value.email || !registerForm.value.code || !registerForm.value.pwd1 || !registerForm.value.pwd2 || !registerForm.value.prefix || !registerForm.value.firstname || !registerForm.value.lastname || !registerForm.value.school || !registerForm.value.jobtitle || !registerForm.value.ceebcode" (click)="onSubmit()">
          Submit
        </button>
      </div>
      <div class="tel">
        Customer service telephone numbers 400-123-1234
      </div>
    </div>
  </div>
</section>
