<app-header></app-header>
<app-navbar></app-navbar>

<section class="news-index">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="title">
      Research & Reports
    </div>
    <div class="detail">
      <div class="news-list">
        <div class="news-info">
          <div class="small-title">
            HTC is considering including a spin-off of VR and overall salesHTC is considering including a spin-off of VR and overall salesHTC is considering including...
          </div>
          <div class="news-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">August 24, 2017</span>
          </div>
        </div>
        <div class="news-info">
          <div class="small-title">
            HTC is considering including a spin-off of VR and overall salesHTC is considering including a spin-off of VR and overall salesHTC is considering including...
          </div>
          <div class="news-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">August 24, 2017</span>
          </div>
        </div>
        <div class="news-info">
          <div class="small-title">
            HTC is considering including a spin-off of VR and overall salesHTC is considering including a spin-off of VR and overall salesHTC is considering including...
          </div>
          <div class="news-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo...</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">August 24, 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
