@import "../../../assets/css/variable.styl"

.events-index
  width 100%
  background  $theme-main-gray-color
  padding-bottom 70px
  .main
    background #fff
    width 1000px
    padding 27px 46px 90px 40px
    margin 0 auto
    .title
      font-size $font-bigger-size
      font-weight 900
      padding 0 0 29px
    .conference-list
      border-top $default-main-top-border
      .conference-info
        display flex
        padding 30px 0
        justify-content space-between
        border-bottom $default-main-top-border
        .conference-title
          font-size $font-big-size
          line-height 26px
          margin-top -4px
          letter-spacing 0.3px
          line-height 22px
          color $theme-main-deep-blue-color
        .conference-intro
          width 609px
          color $font-gray-color
          padding 21px 0 21px
        .conference-img
          width 270px
          height 172px
          overflow hidden
          img
            width 100%
        .conference-more-info
          width 613px
          .date
            font-size $font-small-size
            color $font-light-gray-color
            line-height 22px
            img
              width 13px
              margin-right 10px
            .view-details
              cursor pointer
              float right
              font-size $font-nomal-size
              color $font-main-deep-blue-color
