<app-header></app-header>
<app-navbar></app-navbar>

<section class="events-index wrap-box">
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>Events</span>/<span>National Conference</span>
      </div>
    </section>
  <div class="main">
    <div class="title">
      National Conference
    </div>
    <div class="conference-list" *ngIf="hasNews">

      <div class="conference-info" *ngFor="let list of showLists">
        <div class="conference-img">
          <img src={{list.newImage}} />
        </div>
        <div class="conference-more-info">
          <div class="conference-title">
            {{list.newsTitle}}
          </div>
          <div class="conference-intro">
            <p>{{list.newsTheme}}</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">
              {{list.updateTime}}
            </span>
            <span class="view-details" (click)="go('./events/national-Conference/detail/' + list.newsId)">View details >></span>
          </div>
        </div>
      </div>

      <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>

    </div>
    <div class="conference-list noConference" >
      <img src="../../../assets/icon/nonews.svg" />
      <p>Information of ChinaICAC National Conference will be released later</p>
      <a routerLink="/home">
        <img src="../../../assets/icon/left.svg" alt="left" />
        Return to homepage
      </a>
    </div>
  </div>
  </div>
</section>

<app-to-top></app-to-top>


