<app-header></app-header>
<app-navbar></app-navbar>

<div class="container wrap-box">
<div class="modal-container" >
  <span><button (click)="go('./home')">
      <img src="../../../assets/icon/close.svg"></button></span>
  <div class="title">
    RESET PASSWORD
  </div>
  <div class="main">
    <div class="wrongMsg" *ngIf="msg">{{msg}}</div>
    <div class="form" [formGroup]="pwdForm">
      <div class="form-field password">
        <input placeholder="New password" formControlName="pwd1" [type]="!isOpenEyesShow1 ? 'text' : 'password'" maxlength="15" minlength="6">
        <div class="btn-group">
          <button class="eye-btn" *ngIf="!isOpenEyesShow1" (click)="isOpenEyesShow1 = true">
            <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
          </button>
          <button class="eye-btn" *ngIf="isOpenEyesShow1" (click)="isOpenEyesShow1 = false">
            <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
          </button>
        </div>
      </div>
      <div class="form-field password">
        <input placeholder="Verify password" formControlName="pwd2" [type]="!isOpenEyesShow2 ? 'text' : 'password'" maxlength="15" minlength="6">
        <div class="btn-group">
          <button class="eye-btn" *ngIf="!isOpenEyesShow2" (click)="isOpenEyesShow2 = true" >
            <img class="icon-open-eyes" src="../../../assets/icon/open.svg" />
          </button>
          <button class="eye-btn" *ngIf="isOpenEyesShow2" (click)="isOpenEyesShow2 = false" >
            <img class="icon-close-eyes" src="../../../assets/icon/hidden.svg" />
          </button>
        </div>
      </div>
      <button class="submit-btn" [disabled]="!pwdForm.value.pwd1 || !pwdForm.value.pwd2" (click)="onSubmit()">
        OK
      </button>
    </div>
  </div>
</div>
</div>
