
<section class="pro-dev-detail" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="article">
      <div class="title">
        Countdown to Cleveland!  WHAT TO EXPECT THIS YEAR AT
      </div>
      <div class="brief">
        <div class="address">
          <img src="../../../assets/icon/address1.svg" />
          <span>马萨诸塞州</span>
        </div>
        <div class="date">
          <img src="../../../assets/icon/time.svg" />
          <span>August 24, 2017</span>
        </div>
      </div>
      <div class="expression detail">
        <div class="top">
          <div>
            <img class="eventsIMG" src="../../../assets/img/detail.png" />
          </div>
        </div>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officersChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officersChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
        <p>ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.</p>
      </div>
    </div>
  </div>
</section>

