<app-header></app-header>
<app-navbar></app-navbar>

<section class="pro-dev-detail" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="article">
      <div class="title">
        {{news.wsTitle}}
      </div>
      <div class="expression detail">
        <div class="brief">
          <div class="address">
            <span>Video: </span>
            <span>{{news.wsUrl}}</span>
          </div>
          <div class="date">
            <span>ppt: </span>
            <span>{{news.wsDurl}}</span>
          </div>
        </div>
        <div class="top">
        </div>
        {{news.wsContent}}
      </div>
    </div>
  </div>
</section>

