<app-header></app-header>
<app-navbar></app-navbar>

<section class="pro-dev-detail wrap-box" >
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>Professional Development</span>/<span>Webinar</span>/<span>{{news.wsTitle}}</span>
      </div>
    </section>
  <div class="main">
    <div class="article">
      <div class="title">
        {{news.wsTitle}}
      </div>
      <div class="date">
        <img src="../../../assets/icon/time.svg">
        <span class="time">{{news.wsTime}}</span>
      </div>
      <div class="expression detail">
        <div class="top">
        </div>
        {{news.wsContent}}
      </div>
      <div class="video-ppt">
        <button (click)="gopage(news.wsUrl)" (mouseover)="video2 = true" (mouseout)="video2 = false">
          <img *ngIf="!video2" src="../../../assets/icon/video.svg">
          <img *ngIf="video2" src="../../../assets/icon/video2.svg">
          Video
        </button>
        <button (click)="gopage(news.wsDurl)" (mouseover)="ppt2 = true" (mouseout)="ppt2 = false">
          <img *ngIf="!ppt2" src="../../../assets/icon/ppt.svg">
          <img *ngIf="ppt2" src="../../../assets/icon/ppt2.svg">
          ppt
        </button>
      </div>
    </div>
  </div>
  </div>
</section>


<app-to-top></app-to-top>
