@import "../../../assets/css/variable.styl"

.pro-dev-detail
  width 100%
  padding-bottom 70px
  background  $theme-main-gray-color
  &>div
    margin 0 auto
    width 1000px
  .main
    width 1000px
    margin 0 auto
    display flex
    justify-content space-between
  .article
    width 1000px;
    overflow hidden
    margin-right 20px
    background #fff
    padding 0 40px 65px
    .brief
      display flex
      margin 0 auto
      word-wrap break-word
      div
        width 50%
      img
        width 14px
        margin-right 10px
        vertical-align top
      div
        margin-bottom 19px
        color $font-light-gray-color
        line-height 1
      .small-title
        font-size $font-little-big-size
        color $font-deep-gray-color
        margin-bottom 28px
      .author
        span
          display inline-block
          width 380px
          line-height 1.57
    .detail
      padding 30px 0
      color $font-gray-color
      border-top 1px solid rgba(52,52,52,0.1)
      div
        a
          color $font-main-deep-blue-color
          margin-left 10px
          font-weight 300
      .top
        margin-bottom 30px
        float left
        .eventsIMG
          width 450px
          margin-right 30px
      p
        line-height 22px

.title
  font-size $font-bigger-size
  font-weight bold
  padding 30px 0
  text-align center

