@import "../../../assets/css/variable.styl"

.knowledge-center-school
  width 100%
  background $theme-main-gray-color
  padding-bottom 100px
  &>div
    margin 0 auto
    width 1200px
  .main
    width 1200px
    margin 0 auto
    background $hteme-white-color
    padding 30px 30px 60px
    .title-search
      height 36px
      margin-bottom 22px
      display flex
      justify-content space-between
      div
      height 36px
      .title
        font-weight bold
        font-size $font-bigger-size
        line-height 36px
      .search-box
        width 420px
        input
        button
          height 36px
          float left
        input
          border solid 1px rgba(52, 52, 52, 0.1)
          border-right 0
          font-size $font-nomal-size
          padding 10px 0 10px 10px
          width 338px
          outline 0
        button
          width 82px
          color $font-white-color
          font-size $font-nomal-size
          background $theme-main-deep-blue-color
    .detail
      border-top $default-main-top-border
      padding-top 50px
      .school-list
        display flex
        flex-wrap wrap
        .school-info
          text-align center
          padding-bottom 50px
          width 25%
          &:hover
            img
              border-color $theme-main-deep-blue-color
            .name
              color $font-main-deep-blue-color
          img
            border $default-light-border
            padding 35px
            width 240px
            height 240px
            cursor pointer
          .name
            margin 29px 0 11px
            cursor pointer
            font-size $font-little-big-size
            color $font-deep-gray-color
          .addr
            color $font-gray-color
            font-size $font-nomal-size
            line-height 14px
    .empty
      padding-top 101px
      padding-bottom 17px
      text-align center
      img
        width 228px
        height 170px
      p
        font-size 22px
        line-height 1
        margin-top 19px
        margin-bottom 61px
        color $font-light-gray-color
      a
        font-size $font-little-big-size
        color $font-main-deep-blue-color
        img
          width 6px
          height 12px
          margin-right 9px




