<app-header></app-header>
<app-navbar></app-navbar>

<section class="knowledge-center-school">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="title-search">
      <div class="title">
        University
      </div>
      <div class="search-box form" [formGroup]="searchForm">
        <div class="form-field">
          <input placeholder="School name" formControlName="msg" type="text"/>
        </div>
        <button (click)="searchUni()">Search</button>
      </div>
    </div>
    <div class="detail" *ngIf="!isempty">
      <ul class="school-list">
        <li class="school-info" (click)="gopage('./knowledgecenter/detail/'+list.usityId)" *ngFor="let list of showLists">
          <img src={{list.usityImage}}/>
          <div class="name">
            {{list.usityName}}
          </div>
          <div class="addr">
            所在地区：{{list.usityCountry}}-{{list.usityCity}}
          </div>
        </li>
      </ul>
      <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>
    </div>

    <div class="detail empty" *ngIf="isempty">
      <img src="../../../assets/icon/nonews.svg" />
      <p>No search results</p>
      <a routerLink="/home">
        <img src="../../../assets/icon/left.svg" alt="left" />
        Returns empty search entries
      </a>
    </div>
  </div>
</section>
