@import "../../../assets/css/variable.styl"

.profession-pro-index
  width 100%
  background $theme-main-gray-color
  padding-bottom 70px
  .main
    width 1000px
    margin 0 auto
    background $hteme-white-color
    padding 29px 40px 70px 39px
    .title
      font-size $font-bigger-size
      padding 0 0 29px
    .webinar-list
      border-top $default-main-top-border
      .webinar-info
        border-bottom $default-main-top-border
      .small-title
        font-weight bold
        font-size $font-big-size
        color $font-main-deep-blue-color
        padding 33px 0 23px
        line-height 18px
      .webinar-intro
        line-height 22px
      .video-ppt
        line-height 14px
        font-size $font-nomal-size
        display flex
        padding 19px 0 20px
        div
          width 50%
          span
            font-size $font-nomal-size
            line-height 1.57
            &:nth-child(1)
              color $font-light-gray-color
            &:nth-child(2)
              color $font-main-deep-blue-color
              margin-left 10px
              font-weight 300
      .date
        height 16px
        margin-bottom 30px
        img
          width 16px
        .time
          line-height 16px
          font-size $font-small-size
          color $font-light-gray-color
        .view-details
          float right
          font-size $font-nomal-size
          color $theme-main-deep-blue-color
          cursor pointer

    .noWebinar
      padding-top 101px
      padding-bottom 17px
      text-align center
      img
        width 228px
        height 170px
      p
        font-size 22px
        line-height 1
        margin-top 19px
        margin-bottom 61px
        color $font-light-gray-color
      a
        font-size $font-little-big-size
        color $font-main-deep-blue-color
        img
          width 6px
          height 12px
          margin-right 9px

