<app-header ></app-header>
<app-navbar></app-navbar>

<section class="profession-pro-index wrap-box">
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>Professional Development</span>/<span>Webinar </span>
        <span *ngFor="let list of path"> > {{list}}</span>
      </div>
    </section>

  <div class="main">
    <div class="title">
      Webinar
    </div>
    <div class="webinar-list" *ngIf="hasWebinar">
      <div class="webinar-info" *ngFor="let list of showLists">
        <div class="small-title">
          <p>{{list.wsTitle}}</p>
        </div>
        <div class="webinar-intro">
          {{list.wsContent}}
        </div>
        <div class="video-ppt">
          <div class="video">
            <span>Video: </span><a target="_blank" href={{list.wsUrl}}>{{list.wsUrl}}</a>
          </div>
         <div class="ppt">
            <span>ppt: </span><a target="_blank" href={{list.wsDurl}}>{{list.wsDurl}}</a>
          </div>
        </div>
        <div class="date">
          <img src="../../../assets/icon/time.svg">
          <span class="time">{{list.wsTime}}</span>
          <span class="view-details" (click)="go('./development/detail/'+list.wsId)">View details >></span>
        </div>
      </div>

      <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>

    </div>

    <div class="webinar-list noWebinar" *ngIf="!hasWebinar">
      <img src="../../../assets/icon/nonews.svg" />
      <p>No Webinar</p>
      <a routerLink="/home">
        <img src="../../../assets/icon/left.svg" alt="left" />
        Return home page
      </a>
    </div>
  </div>
  </div>
</section>

<app-to-top></app-to-top>

<app-modal [modal]="modal" (onConfirm)="onConfirm()"></app-modal>

