<footer>
  <section>
   <!-- <ul>
      <li>
        <div>
          <img src="../../../assets/icon/tel.svg" alt="tel"/>
        </div>
        <div>
          <div class="title">
            Contact Us
          </div>
          <div class="detail">
            Contact number：400-520－0000
          </div>
        </div>
      </li>
      <li>
        <div>
          <img src="../../../assets/icon/address2.svg" alt="ip"/>
        </div>
        <div>
          <div class="title">
            Address
          </div>
          <div class="detail">
            Members from all over the worldMembers from all over the world
          </div>
        </div>
      </li>
      <li>
        <div>
          <img src="../../../assets/icon/partners.svg" alt="partners"/>
        </div>
        <div>
          <div class="title">
            Partners
          </div>
          <div class="detail">
            Welcome to the universities and colleges around the world
          </div>
        </div>
      </li>
    </ul>-->
    <ul class="detail">
      <li class="logo-container">
        <div class="logo">
          <img src="../../../assets/img/logo-bottom.png"/>
        </div>
      </li>
      <li class="email-container">
        <div class="email">
          <img class="code" src="../../../assets/img/code.png"/>
          <div class="detail">
            <span class="email-title">E-mail:</span>  admin@chinaicac.org
          </div>
        </div>
      </li>
      </ul>
  </section>
  <div class="copyright">
    ChinaICAC © 2017-2025 中国升学指导研究中心 浙ICP备17050119号
  </div>
</footer>
