@import "../../../assets/css/variable.styl"

footer
  width 100%
  background $theme-main-deep-blue-color
  height 210px
  padding 20px 0 0
  position relative
  margin-top -210px
  section
    width 1200px
    margin 0 auto
    ul
      display flex
      height 120px
      justify-content space-between
      /*li
        border-right 1px solid rgba(151,187,211,0.2)
        width 398px
        padding-top 12px
        &:nth-child(2)
          margin-left 11px
        &:nth-child(3)
          border-right 0
          margin-left 11px
        &>div
          display inline-block
          &:nth-child(1)
            margin-right 20px
            vertical-align top
          &:nth-child(2)
            width 307px
        img
          height 22px
          padding 11px 19px auto 11px
        .title
          color #5d616e
          font-size $font-big-size
          line-height 18px
          margin-bottom 18px
        .detail
          color rgba(255,255,255,0.6)
          font-size $font-nomal-size*/

  .detail
    li
      width 50%
    .logo-container
      padding-right 56px
      border-right 1px solid rgba(250,250,250,0.5)
      .logo
        width 260px
        height 92px
        float right
        img
          width 100%
          padding 14px
    .email-container
      padding-left 70px
      padding-top 22px
      font-size $font-little-big-size
      .title
        position relative
        width 189px
        color #fff
        border-bottom 1px solid #fafafa
        padding-bottom 2px
        margin-bottom 18px
        cursor pointer
        .code
          position absolute
          width 140px
          height 140px
          bottom 0px
          left 210px
      .detail
        color #fafafa
        .email-title
          font-weight 300

  .copyright
    background #112b43
    width 100%
    height 50px
    line-height 50px
    text-align center
    font-size $font-small-size
    color rgba(255,255,255,0.6)
    position absolute
    bottom 0


