<section class="membership-index">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="left-box">
      <div class="title">
        Membership system
      </div>
      <div class="detail system">
        <p>
          China Institute of College Admission Counseling (ChinaICAC) is an organization of professionals from all over the world dedicated to serving Chinese students as they make choices about pursuing postsecondary education overseas.
        </p>
        <p>
          ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.
        </p>
        <p>
          ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.
        </p>
      </div>
      <div class="title">
        Introduction of membership benefits
      </div>
      <div class="detail benefits">
        <p>
          ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.
        </p>
        <p>
          ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.
        </p>
      </div>
      <div class="book-download">
        <img src="../../../assets/icon/file.svg" />
        <div class="btn-box">
          <button>Member address book download<img src="../../../assets/icon/download.svg" /></button>
          <div class="upload-time">
            Upload time: 2017-08-29
          </div>
        </div>
        <div class="note">
          (note: the membership address book will be updated regularly once a month)
        </div>
      </div>
    </div>
    <div class="right-box">
      <ul class="right-nav">
        <li class="active">
          Membership system
        </li>
        <li>
          Introduction of membership benefits
        </li>
      </ul>
    </div>
  </div>
</section>
