@import "../../../assets/css/variable.styl"

.membership-index
  width 100%
  background $theme-main-gray-color
  padding-bottom 70px
  >div
    width 1000px
    margin 0 auto
  .main
    position relative
    display flex
    width 1000px
    margin 0 auto
    .left-box
      background $hteme-white-color
      padding 30px 30px 70px 21px
      width 730px
      margin-right 20px
      .title
        font-size $font-bigger-size
        font-weight bold
        margin-bottom 28px
        line-height 20px
        color $font-deep-gray-color
      .detail
        color $font-gray-color
        line-height 1.57
        border-top $default-input-border
        padding-top 29px
        .top-msg
          color $font-gray-color
          margin-bottom 22px
        .small-tit
          font-size $font-little-big-size
          color $font-deep-gray-color
          margin-bottom 29px
        .whatapply
          margin-top 30px
          margin-bottom 18px
        .type
          width 100%
          border-collapse collapse
          border 1px solid rgba(186,186,186,0.3)
          th
            background $theme-main-deep-blue-color
            color $font-white-color
            padding 20px 0
            padding-left 18px
            text-align left
            line-height 12px
            width 33.3%
            border 1px solid rgba(201,201,201,0.4)
          td
            border 1px solid rgba(201,201,201,0.4)
            padding 20px 20px 18px
            line-height 22px
        .readylist
          margin-bottom 16px
          span
            background $theme-main-deep-blue-color
            color $font-white-color
            margin-right 8px
            display inline-block
            padding 3px
            line-height 10px
            width 16px
            height 16px
      .system
        padding-bottom 61px
      .benefits
        padding-bottom 49px
        .small-tit2
          line-height 14px
          margin-bottom 9px
        .detail-exp
          margin-bottom 19px
      .book-download
        border-top $default-light-border
        padding-top 29px
        img
          width 49px
          height 44px
          margin-right 10px
          vertical-align middle
        .fileIMG
          vertical-align top
        .btn-box
          display inline-block
          height 48px
          button
          a
            color $theme-main-deep-blue-color
            font-size $font-little-big-size
            line-height 14px
            img
              width 13px
              height 14px
              margin-left 10px
          .upload-time
            font-size $font-nomal-size
            margin-top 20px
            line-height 14px
          .note1
            margin-top 9px
            font-size 13px
        .note
          margin-top 9px
          color  $font-light-gray-color
          font-size $font-small-size
          line-height 1.83
    .right-box
      position absolute
      right 0
      width 250px
      height 160px
      background $hteme-white-color
      .right-nav
        padding 20px 0
        li
          cursor pointer
          padding 22px 0 22px 21px
        .active
          background $theme-main-deep-blue-color
          color $hteme-white-color

