@import "../../../assets/css/variable.styl"

.membership-index
  width 100%
  background $theme-main-gray-color
  padding-bottom 70px
  >div
    width 1200px
    margin 0 auto
  .main
    display flex
    width 1200px
    margin 0 auto
    .left-box
      background $hteme-white-color
      padding 30px 30px 70px 21px
      width 830px
      margin-right 20px
      .title
        font-size $font-bigger-size
        font-weight bold
        margin-bottom 28px
        line-height 20px
        color $font-deep-gray-color
      .detail
        color $font-gray-color
        line-height 1.57
        border-top $default-input-border
        padding-top 29px
        .top-msg
          color $font-gray-color
          margin-bottom 22px
        .small-tit
          font-size $font-little-big-size
          color $font-deep-gray-color
          margin-bottom 29px
        .type
          width 100%
          border 1px solid rgba(186,186,186,0.3)
          th
            background $theme-main-deep-blue-color
            color $font-white-color
            padding 20px 20px 18px
            line-height 12px
            width 33.3%
          td
            padding 20px 20px 18px
            line-height 22px
      .system
        padding-bottom 58px
      .benefits
        padding-bottom 38px
      .book-download
        border-top $default-light-border
        padding-top 29px
        img
          width 49px
          height 44px
          margin-right 10px
          vertical-align middle
        .btn-box
          display inline-block
          height 48px
          button
            color $theme-main-deep-blue-color
            font-size $font-little-big-size
            line-height 14px
            img
              width 13px
              height 14px
              margin-left 10px
          .upload-time
            font-size $font-nomal-size
            margin-top 20px
            line-height 14px
        .note
          margin-top 9px
          color  $font-light-gray-color
          font-size $font-small-size
          line-height 1.83
    .right-box
      width 350px
      height 160px
      background $hteme-white-color
      .right-nav
        padding 20px 0
        li
          cursor pointer
          padding 22px 0 22px 21px
        .active
          background $theme-main-deep-blue-color
          color $hteme-white-color

