<app-header></app-header>
<app-navbar></app-navbar>

<section class="person-sec wrap-box" >
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box" *ngIf="showperson">
        <span>Home</span>/<span>Member Center</span>/<span>Personal Information</span>
      </div>
      <div class="breadcrumb-box"  *ngIf="showmodifyps">
        <span>Home</span>/<span>Member Center</span>/<span>Modify Password</span>
      </div>
    </section>
  <div class="main">
    <div class="left-box">
      <ul class="nav-left">
        <li [class.active]="showperson" (click)="showperson = true;showmodifyps = false;">
          <div>
            <img *ngIf="!showperson" src="../../assets/icon/person-info.svg" />
            <img *ngIf="showperson" src="../../assets/icon/person-info2.svg" />
          </div>
          <div>
            Personal Information
          </div>
        </li>
        <li [class.active]="showmodifyps" (click)="showperson = false;showmodifyps = true;">
          <div>
            <img *ngIf="showmodifyps" src="../../assets/icon/password2.svg" />
            <img *ngIf="!showmodifyps" src="../../assets/icon/password.svg" />
          </div>
          <div>
            Modify Password
          </div>
        </li>
      </ul>
    </div>
    <app-personal-data *ngIf="showperson"></app-personal-data>
    <app-modify-password *ngIf="showmodifyps"></app-modify-password>
  </div>
  </div>
</section>

<app-modal [modal]="modal" (onConfirm)="onConfirm()"></app-modal>

