<app-header></app-header>
<app-navbar></app-navbar>

<section class="person-sec wrap-box" >
  <div>
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="left-box">
      <ul class="nav-left">
        <li [class.active]="showperson" (click)="showperson = true;showmodifyps = false;">
          <div>
            <img *ngIf="!showperson" src="../../assets/icon/person-info.svg" />
            <img *ngIf="showperson" src="../../assets/icon/person-info2.svg" />
          </div>
          <div>
            Personal data
          </div>
        </li>
        <li [class.active]="showmodifyps" (click)="showperson = false;showmodifyps = true;">
          <div>
            <img *ngIf="showmodifyps" src="../../assets/icon/password2.svg" />
            <img *ngIf="!showmodifyps" src="../../assets/icon/password.svg" />
          </div>
          <div>
            Modify password
          </div>
        </li>
      </ul>
    </div>
    <app-personal-data *ngIf="showperson"></app-personal-data>
    <app-modify-password *ngIf="showmodifyps"></app-modify-password>
  </div>
  </div>
</section>
