
<app-header></app-header>
<app-navbar></app-navbar>

<section class="schoolDetail-sec wrap-box">
  <div class="breadcrumb-box">
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <img src="../../../assets/icon/address1.svg" />
        <span>Home > Knowledge Center > Hign School > {{school.middleName}}</span>
        <span *ngFor="let list of path"> > {{list}}</span>
      </div>
    </section>
  </div>
  <div class="main">
    <div class="top-bg-img">
    </div>
    <div class="shade"></div>
    <div class="school-brief">
      <div class="school-img">
        <img src={{school.middleImage}} />
      </div>
      <div>
        <p class="schoolName">{{school.middleName}}</p>
        <p class="website">{{school.middleUrl}}</p>
        <p class="tel">Tel： <span>{{school.middleNum}}</span></p>
        <p class="ceebCode">CEEB code： <span>{{school.middleCode}}</span></p>
      </div>
      <div>
        <p class="country">Country： <span>{{school.middleCountry}}</span></p>
        <p class="city">city： <span>{{school.middleCity}}</span></p>
      </div>
    </div>
    <div class="container">
      <div class="nav">
        <ul>
          <li [class.active]="showOverview" (click)="showOverview = true; showGuideance = false;">
            Overview
          </li>
          <li [class.active]="showGuideance" (click)="showOverview = false; showGuideance = true">
            Entrance guidance
          </li>
        </ul>
      </div>
      <div class="article" *ngIf="showOverview">
        {{school.middleTxt}}
      </div>

      <div class="article guidance" *ngIf="showGuideance">
        <div class="guidance-title">
          Entrance guidance information
        </div>
        <div class="info-container">
          <ul>
            <li *ngFor="let list of school.middleGuides">
              <div class="info">
                <img src="../../../assets/img/user.png">
                <div>
                  <p>
                    Name:
                    <span>{{list.middleGuideName}}</span>
                  </p>
                  <div>
                    <div>
                      Job Title:
                      <span>{{list.middleGuideJob}}</span>
                    </div>
                    <div>
                      Tel:
                      <span>{{list.middleGuideNum}}</span>
                    </div>
                  </div>
                  <div>
                    <div>
                      Mobile:
                      <span>{{list.middleGuidePhone}}</span>
                    </div>
                    <div>
                      Email:
                      <span>{{list.middleGuideMail}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<app-to-top></app-to-top>
