<header>
  <div class="logo">
    <img src="../../../assets/img/logo-01.png" alt="chianICAC" />
  </div>
  <div class="out-box" *ngIf="isLogin">
    <img src="../../../assets/img/user.png" />
    <div class="btn-group">
      <button>yong rao</button>
      <button>Sign out</button>
    </div>
  </div>
  <div class="login-box" *ngIf="!isLogin">
    <div class="btn-group">
      <button (click)="modal.isSigninShow = true">Sign in</button>
      <button (click)="go('./register')">Registration</button>
    </div>
  </div>
</header>

<app-modal [modal]="modal"></app-modal>
