@import "../../../assets/css/variable.styl"

header
  height 120px
  width 100%
  margin 0 auto
  margin-bottom -120px
  display flex
  position relative
  justify-content space-between
  background #fff
  .logo
    cursor pointer
    img
      width 219px
      height 78px
  .login-box
  .out-box
    padding 19px 0
    img
      vertical-align middle
      width 40px
      height @width
    .btn-group
      display inline-block
      height 14px
      line-height 14px
    button
      background #f0f0f0
      padding 8px 12px
      font-size $font-nomal-size
      border-radius 15px
      color #343434
      &:nth-child(1)
        margin-right 21px
      &:hover
        color #fff
        background $theme-main-deep-blue-color
  .out-box
    button
      &:first-child
        border 0
        background 0
        &:hover
          color #343434

  .login-box
    .btn-group
      margin-top 16px

.container
  width 1200px
  height 120px
  margin 0 auto
  padding 23px 2px 19px
  display flex
  position relative
  justify-content space-between

.bg
  position absolute
  width 100%
  height 180px
  background #fff
  top 0

