@import "../../../assets/css/variable.styl"

header
  height 120px
  width 1200px
  margin 0 auto
  padding 23px 2px 19px
  display flex
  justify-content space-between
  .logo
    img
      width 219px
      height 78px
  .login-box
    padding 19px 0
    .user
      display inline-block
      img
        width 40px
        height @width

