@import "../../../assets/css/variable.styl"

.events-detail
  width 100%
  padding-bottom 70px
  background  $theme-main-gray-color
  &>div
    width 1000px
    margin 0 auto
  .main
    width 1000px
    margin 0 auto
    display flex
    justify-content space-between
  .article
    width 1000px;
    overflow hidden
    margin-right 20px
    background #fff
    padding 0 40px 65px
    .detail
      padding 30px 0
      color $font-gray-color
      border-top 1px solid rgba(52,52,52,0.1)
      .top
        margin-bottom 30px
        display flex
        .eventsIMG
          width 450px
          margin-right 30px
          display inline-block
        .brief
          width 410px
          word-wrap break-word
          img
            width 14px
            margin-right 10px
            vertical-align middle
          div
            margin-bottom 19px
            color $font-light-gray-color
            font-size $font-nomal-size
            line-height 1
          .small-title
            font-size $font-little-big-size
            color $font-deep-gray-color
            margin-bottom 28px
          .author
            margin-bottom 40px
            span
              display inline-block
              width 380px
              line-height 1.57
          .register-btn
            button
              border 1px solid $theme-main-light-blue-color
              font-size $font-little-big-size
              border-radius 3px
              width 110px
              height 36px
              margin-bottom 16px
              color $font-main-deep-blue-color
            div
              font-size $font-nomal-size
              color $font-light-gray-color
      p
        line-height 22px

.title
  font-size $font-bigger-size
  font-weight bold
  padding 30px 0

