<app-header></app-header>
<app-navbar></app-navbar>

<section class="events-detail wrap-box" >
  <div>
    <section class="breadcrumb">
      <div class="breadcrumb-box">
        <span>Home</span>/<span>Events</span>/<span>National Conference</span>/<span>{{news.newsTitle}}</span>
        <span *ngFor="let list of path"> > {{list}}</span>
      </div>
    </section>
  <div class="main">
    <div class="article">
      <div class="title">
          {{news.newsTitle}}
      </div>
      <div class="expression detail">
        <div class="top">
          <div>
            <img class="eventsIMG" src={{news.newsImage}} />
          </div>
          <div class="brief">
            <div class="small-title">
              {{news.newsTheme}}
            </div>
            <div class="date">
              <img src="../../../assets/icon/time.svg" />
              <span *ngIf="!same">{{news.newsMeetstarttime}} - {{news.newsMeetstoptime}}</span>
              <span *ngIf="same">{{news.newsMeetstarttime}}</span>
            </div>
            <div class="address">
              <img src="../../../assets/icon/address3.svg" />
              <span>{{news.newsPlace}}</span>
            </div>
            <!--<div class="author">-->
              <!--<img src="../../../assets/icon/person-info.svg" />-->
              <!--<span>{{news.newsPerson}}</span>-->
            <!--</div>-->
            <div class="register-btn"  *ngIf="!conferenceState">
              <button disabled>
                Registered
              </button>
            </div>
            <div class="register-btn"  *ngIf="conferenceState">
              <button (click)="register()">
                Register
              </button>
              <div>You MUST be a ChinaICAC member to register</div>
            </div>
          </div>
        </div>
        <div class="detail-arc">
          {{news.newsInfo}}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<app-modal *ngIf="!modal2Show" [modal]="modal1" (onConfirm)="onConfirm1()"></app-modal>
<app-modal *ngIf="modal2Show" [modal]="modal2" (onConfirm)="onConfirm2()"></app-modal>

<app-to-top></app-to-top>

