@import "../../../assets/css/variable.styl"

.events-detail
  width 100%
  padding-bottom 70px
  background  $theme-main-gray-color
  .main
    width 1000px
    margin 0 auto
    display flex
    justify-content space-between
  .article
    width 1000px;
    overflow hidden
    margin-right 20px
    background #fff
    padding 0 40px 65px
    .detail
      padding 30px 0
      color $font-gray-color
      border-top 1px solid rgba(52,52,52,0.1)
      .top
        margin-bottom 30px
        display flex
        .eventsIMG
          width 450px
          margin-right 30px
        .brief
          width 408px
          word-wrap break-word
          img
            width 16px
            margin-right 10px
          div
            margin-bottom 19px
            color $font-light-gray-color
          .small-title
            font-size $font-little-big-size
            color $font-deep-gray-color
            margin-bottom 28px
      p
        line-height 22px

.title
  font-size $font-bigger-size
  font-weight bold
  padding 30px 0

