<app-header></app-header>
<app-navbar></app-navbar>

<section class="events-index wrap-box">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="title">
      workshop
    </div>
    <div class="conference-list" *ngIf="hasConference">

      <div class="conference-info" *ngFor="let list of showLists">
        <div class="conference-img">
          <img src={{list.newImage}} />
        </div>
        <div class="conference-more-info">
          <div class="conference-title">
            {{list.newsTitle}}
            <div class="conference-intro">
              <p>{{list.newsTheme}}</p>
            </div>
            <div class="date">
              <img src="../../../assets/icon/time.svg" />
              <span class="time">
              {{list.updateTime}}
            </span>
            <span class="view-details" (click)="go('./events/workshop/detail-workshop/'+ list.newsId)">View details >></span>
            </div>
          </div>
        </div>
      </div>

      <app-pager [currPage]="page.pageIndex" [pageCount]="page.pageCount" (showPage)="onShowPage($event)"></app-pager>

    </div>

    <div class="conference-list noConference" *ngIf="!hasConference">
      <img src="../../../assets/icon/nonews.svg" />
      <p>No Regional Workshop</p>
      <a routerLink="/home">
        <img src="../../../assets/icon/left.svg" alt="left" />
        Return home page
      </a>
    </div>
  </div>

</section>

