
<section class="events-index">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="title">
      workshop
    </div>
    <div class="conference-list" *ngIf="hasConference">
      <div class="conference-info">
        <div class="conference-img">
          <img src="../../../assets/img/events.png" />
        </div>
        <div class="conference-more-info">
          <div class="conference-title">
            HTC is considering including a cluding a spin-off of   is considering a cluding a spin-off ofincluding...
          </div>
          <div class="conference-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodndum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrajametaccumsan et viverra justo commoerrajametaccumsanerrajametaccumsando...</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">
              August 24, 2017
            </span>
            <span class="view-details" (click)="go('./events/detail-workshop')">View details >></span>
          </div>
        </div>
      </div>

      <div class="conference-info">
        <div class="conference-img">
          <img src="../../../assets/img/events.png" />
        </div>
        <div class="conference-more-info">
          <div class="conference-title">
            HTC is considering including a cluding a spin-off of   is considering a cluding a spin-off ofincluding...
          </div>
          <div class="conference-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismodndum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrajametaccumsan et viverra justo commoerrajametaccumsanerrajametaccumsando...</p>
          </div>
          <div class="date">
            <img src="../../../assets/icon/time.svg" />
            <span class="time">
              August 24, 2017
            </span>
            <span class="view-details" (click)="go('./events/detail-workshop')">View details >></span>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-list noConference" *ngIf="!hasConference">
      <img src="../../../assets/icon/nonews.svg" />
      <p>No National Conference</p>
      <a routerLink="/home">
        <img src="../../../assets/icon/left.svg" alt="left" />
        Return home page
      </a>
    </div>
  </div>
</section>

