@import "../../../assets/css/variable.styl"

main
  width 100%
  .top-img
    width 100%
    height 400px
    overflow hidden
    background-image: url('../../../assets/img/bg-top.png')
    background-size cover
  .overview
    margin 90px auto
    width 1200px
    display flex
    justify-content space-around
    .overview-img
      width 500px
      height 350px
      margin-right 49px
    .detail-box
      hr
        margin 41px 0
        width 50px
        height 4px
        background $theme-main-light-blue-color
      .detail
        width 639px
        p
          color $font-gray-color
          margin-bottom 35px
          line-height 22px
  .newsroom-box
    background $theme-main-gray-color
    width 100%
    padding 36px 0 82px
    .newsroom
      width 1200px
      margin 0 auto
      .title-box
        display flex
        justify-content space-between
      .more
        font-size $font-nomal-size
        color rgba(52,52,52,0.7)
      .detail
        border-top 2px solid rgba(189,189,189,0.3)
        margin-top 29px
        padding-top 53px
        ul
          display flex
          justify-content space-between
          li
            width 344px
            .small-title
              width 282px
              font-size $font-big-size
              line-height 1.56
            .date
              font-size $font-small-size
              color  $font-light-gray-color
              margin 20px 0 7px
            .expression
              font-size $font-nomal-size
              color $font-gray-color
              line-height 22px

.title
  font-size $font-biggest-size
  color $font-deep-gray-color

button
  border 1px solid $theme-main-deep-blue-color
  background transparent
  padding 6px 8px
  font-size $font-nomal-size
  color $theme-main-deep-blue-color
  border-radius 3px
  margin-top 23px



