
<main>
  <div class="top-img">
  </div>
  <section>
    <div class="overview">
      <img class="overview-img" src="../../../assets/img/overview.png" />
      <div class="detail-box">
        <div class="title">
          overview
        </div>
        <hr>
        <div class="detail">
          <p>
            China Institute of College Admission Counseling (ChinaICAC) is an organization of professionals from all over the world dedicated to serving Chinese students as they make choices about pursuing postsecondary education overseas.
          </p>
          <p>
            ChinaICAC is committed to developing the professionalism of all school based counselors in China by providing a wealth of networking and learning opportunities including but not limited to webinars, workshops, and conferences.  ChinaICAC also effectively bring together high school counselors serving Chinese nationals and college admission officers.
          </p>
          <button>
            View details
          </button>
        </div>
      </div>
    </div>
    <div class="newsroom-box">
      <div class="newsroom">
        <div class="title-box">
          <div class="title">
            NEWSROOM
          </div>
          <div class="more" (click)="go('./news')">
            more
            <img src="../../../assets/icon/more.svg" />
          </div>
        </div>
        <div class="detail">
          <ul>
            <li>
              <div class="small-title">
                HTC is considering including a spin-off of VR and overall sales
              </div>
              <div class="date">
                August 24, 2017
              </div>
              <div class="expression">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              </div>
              <button>
                details
              </button>
            </li>
            <li>
              <div class="small-title">
                HTC is considering including a spin-off of VR and overall sales
              </div>
              <div class="date">
                August 24, 2017
              </div>
              <div class="expression">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              </div>
              <button>
                details
              </button>
            </li>
            <li>
              <div class="small-title">
                HTC is considering including a spin-off of VR and overall sales
              </div>
              <div class="date">
                August 24, 2017
              </div>
              <div class="expression">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              </div>
              <button>
                details
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

<app-modal></app-modal>

