.popover
  background rgba(0,0,0,0.6)
  width 200px
  height 100px
  border-radius 20px
  position fixed
  top 50%
  left 50%
  z-index 999
  p
    color #fff
    height 100px
    line-height 100px
    text-align center
