<app-header></app-header>
<app-navbar></app-navbar>

<section class="about-index wrap-box" >
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="detail-left">
      <div class="committee">
        <div class="title">
          Committee
        </div>
        <div class="detail">
          <div>
            <img src="../../../assets/img/committee.png" />
          </div>
          <div class="expression">
            <div class="name">
              <span class="englist">Brantley Turner</span>
              <span>龙梅</span>
            </div>
            <div class="school">
              <p>American Principal </p>
              <p>Shanghai Qibao Dwight High School</p>
            </div>
            <div class="exp">
              <p>
                <span>Professional Experience：</span>
                In 2009, Brantley joined the Dwight School international group of schools as Director of Programs - China. In 2014, Qibao High School and Dwight School New York opened IB World School Shanghai Qibao Dwight High School.
                Prior to joining Dwight School, Brantley ...
              </p>
              <button>more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-right">
      <ul>
        <li [class.active]="isshow1" (click)="go('./about/overview')">
          Overview
        </li>
        <li [class.active]="isshow2" (click)="go('./about/committee')">
          Committee
        </li>
        <li [class.active]="isshow3" (click)="go('./about/advisor')">
          Advisor
        </li>
        <li [class.active]="isshow4" (click)="go('./about/contact-us')">
          Contact us
        </li>
      </ul>
    </div>
  </div>
</section>

