<section class="schoolDetail-sec">
  <app-breadcrumb></app-breadcrumb>
  <div class="main">
    <div class="top-bg-img">
    </div>
    <div class="shade"></div>
    <div class="school-brief">
      <div class="school-img">
        <img src="../../../assets/img/2.png" />
      </div>
      <div>
        <p class="schoolName">University of Cambridge</p>
        <p class="website">Website<span>www.mit.edu</span></p>
        <p class="nature">Nature： <span>私立</span></p>
        <p class="region">Region： <span>马萨诸塞</span></p>
      </div>
      <div>
        <p class="country">Country： <span>中国</span></p>
        <p class="city">city： <span>温州</span></p>
        <p class="students-num">Online students： <span>20000人</span></p>
      </div>
    </div>
    <div class="container">
      <div class="nav">
        <ul>
          <li [class.active]="showOverview" (click)="showOverview = true; showRequirements = false; showOfficer = false;">
            Overview
          </li>
          <li [class.active]="showRequirements" (click)="showOverview = false; showRequirements = true; showOfficer = false;">
            Admission requirements
          </li>
          <li [class.active]="showOfficer" (click)="showOverview = false; showRequirements = false; showOfficer = true;">
            Entrance guidance
          </li>
        </ul>
      </div>
      <div class="article" *ngIf="showOverview">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra juscommodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrusto commodo. sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumaoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. sit amet lacus accumsan et viverra justo commodo.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra juscommodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrusto commodo. sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumaoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. sit amet lacus accumsan et viverra justo commodo.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra juscommodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrusto commodo. sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumaoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. sit amet lacus accumsan et viverra justo commodo.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra juscommodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrusto commodo. sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumaoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. sit amet lacus accumsan et viverra justo commodo.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra juscommodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverrusto commodo. sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendumaoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. sit amet lacus accumsan et viverra justo commodo.
        </p>
      </div>

      <div class="article requirements" *ngIf="showRequirements">
        <div class="info-container">
          <ul>
            <li>
              <div class="requirements-title">
                Undergraduate admission conditions
              </div>
              <div>
                <span>Time of school</span>
                <span>每年1月1日、5月1日、8月1日</span>
              </div>
              <div>
                <span>Application deadline:</span>
                <span>每年1月1日</span>
              </div>
              <div>
                <span>Tuition reference:</span>
                <span>41770.00美元</span>
              </div>
              <div>
                <span>Examination results:</span>
                <span>托福总分：100.00<br>
高中平均分:3.89Sat:1426.00</span>
              </div>
            </li>
            <li>
              <div class="requirements-title">
                Undergraduate admission conditions
              </div>
              <div>
                <span>Time of school</span>
                <span>每年1月1日、5月1日、8月1日</span>
              </div>
              <div>
                <span>Application deadline:</span>
                <span>每年1月1日</span>
              </div>
              <div>
                <span>Tuition reference:</span>
                <span>41770.00美元</span>
              </div>
              <div>
                <span>Examination results:</span>
                <span>托福总分：100.00<br>
高中平均分:3.89Sat:1426.00</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="article officer" *ngIf="showOfficer">
        <div class="officer-title">
          Admissions officer information
        </div>
        <div class="info-container">
          <ul>
            <li>
              <div class="info">
                <img src="../../../assets/img/user.png">
                <div>
                  <p>
                    Name:
                    <span>XXX</span>
                  </p>
                  <div>
                    Job Title:
                    <span>XXXXXXXXX</span>
                  </div>
                  <div>
                    Email:
                    <span>XXXXXXXX@XXX.com</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
